<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassNameFirstLower>
<#assign classNameLower = table.tableClassName?lower_case>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${table.tableComment}</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/resources/css/common.css" />
</head>

<body>
    <div class="container" id="app">
        <div class="form-horizontal">
            <#list table.columns as column>
            <#if column.columnName == table.validStatusField.fieldName>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 col-md-4"><label>${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label></div>
                    <div class="col-xs-9 col-md-8"><span v-if="detail.${column.columnFieldNameFirstLower}==${table.validStatusField.validValue}" style="color: #42b983;">有效</span><span v-if="detail.${column.columnFieldNameFirstLower}==${table.validStatusField.invalidValue}" style="color: #e96900;">无效</span></div>
                </div>
            </div>
            <#else>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 col-md-4"><label>${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label></div>
                    <div class="col-xs-9 col-md-8"><span>{{detail.${column.columnFieldNameFirstLower}}}</span></div>
                </div>
            </div>
            </#if>
            </#list>
            <div class="form-group">
                <input type="button" value="删除" @click="del" class="btn btn-danger" />
                <input type="button" value="返回" @click="goback" class="btn warning" />
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.js"></script>
    <script src="/resources/bootstrap/js/jquery.bootstrap-growl.min.js"></script>
    <script src="/resources/bootstrap/js/bootbox.min.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                detail: {
                    <#list table.columns as column>
                    <#if column.endWithId>
                    ${column.columnFieldNameFirstLower}: 0<#if column_has_next>,</#if>
                    <#elseif column.columnName == table.validStatusField.fieldName>
                    ${column.columnFieldNameFirstLower}: ${table.validStatusField.validValue}<#if column_has_next>,</#if>
                    <#elseif column.columnFieldType == "Date">
                    ${column.columnFieldNameFirstLower}: ''<#if column_has_next>,</#if>
                    <#else>
                    ${column.columnFieldNameFirstLower}: ''<#if column_has_next>,</#if>
                    </#if>
                    </#list>
                }
            },
            mounted: function () {
                this.get();
            },
            methods: {
                get: function () {
                    var that = this;
                    $.ajax({
                        type: 'get',
                        url: '/${classNameLower}/getdetail' + window.location.search,
                        dataType: 'json',
                        success: function (response) {
                            if (response.success == true) {
                                that.detail = response.result;
                            } else {
                                commonNotify.error("获取详情失败！");
                            }
                        }
                    });
                },
                del: function () {
                    var that = this;
                    commonNotify.confirm("确定删除吗？", function() {
                        $.ajax({
                            type: 'get',
                            url: '/${classNameLower}/delete' + window.location.search,
                            dataType: 'json',
                            success: function (response) {
                                if (response.success == true) {
                                    commonNotify.success("删除成功！", that.goback);
                                } else {
                                    commonNotify.error("删除失败！");
                                }
                            }
                        })
                    });
                },
                goback: function() {
                    window.location.href = 'list.html';
                }
            }
        });
    </script>
</body>

</html>
