<#include "/include/table/properties.ftl">
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${tableComment}管理</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/element-ui-override.css">
</head>
<body>
    <div id="app">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item>${tableComment}管理</el-breadcrumb-item>
        </el-breadcrumb>
        <el-form ref="searchParams" :model="searchParams" :label-position="'left'" label-width="120px">
            <el-row :gutter="10">
                <#list table.columns as column>
                <#include "/include/column/properties.ftl">
                <#if column.ignoreSearch>
                <#elseif column.validStatus>
                <#-- <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option v-for="item in ${fieldName}SelectList" :value="item.value" :label="item.text"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col> -->
                <#elseif column.fkSelect>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option value="" label="全部"></el-option>
                            <el-option v-for="item in ${fieldName?replace('Id', '')?replace('Key', '')?replace('Code', '')}SelectList" :value="item.${column.fkSelectColumn.valueName?uncap_first}" :label="item.${column.fkSelectColumn.textName?uncap_first}"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <#elseif column.select>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option value="" label="全部"></el-option>
                            <el-option v-for="item in ${fieldName?replace('Id', '')?replace('Key', '')?replace('Code', '')}SelectList" :value="item.value" :label="item.text"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <#elseif column.pk>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}" type="text"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (isInteger)>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}" type="text"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (isDecimal)>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}Min"></el-input>
                        <el-input v-model="searchParams.${fieldName}Max"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (isString)>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}StartWith"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (isDate || isDateTime)>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-date-picker
                                v-model="searchParams.${fieldName}Range"
                                type="daterange"
                                :default-time="['00:00:00', '23:59:59']"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <#elseif (isTime)>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-time-picker
                            is-range
                            v-model="searchParams.${fieldName}Range"
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间"
                            placeholder="选择时间范围">
                        </el-time-picker>
                    </el-form-item>
                </el-col>
                </#if>
                </#list>
                <el-col :span="24">
                    <el-form-item>
                        <el-button type="primary" @click="search">搜索</el-button>
                        <el-button type="warning" @click="resetSearch">重置</el-button>
                        <el-button type="success" @click="exportExcel">导出</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>

        <#if table.validStatusColumn??>
        <el-tabs v-model="searchParams.${table.validStatusColumn.targetName?uncap_first}" @tab-click="search">
            <el-tab-pane label="有效" name="${table.validStatusColumn.validStatusOption.valid}"></el-tab-pane>
            <el-tab-pane label="无效" name="${table.validStatusColumn.validStatusOption.invalid}"></el-tab-pane>
        </el-tabs>
        </#if>
        <el-row>
            <el-button type="primary" @click="add">添加</el-button>
            <#if table.validStatusColumn??>
            <el-button type="success" @click="enableSelected" v-if="multipleSelection.length > 0">启用</el-button>
            <el-button type="warning" @click="disableSelected" v-if="multipleSelection.length > 0">禁用</el-button>
            </#if>
            <#if table.hasUniPk>
            <el-button type="danger" @click="delSelected" v-if="multipleSelection.length > 0">删除</el-button>
            </#if>
        </el-row>
        <el-table ref="multipleTable" :data="pageInfo.list" tooltip-effect="dark"<#if (table.hasUniPk)> @selection-change="handleSelectionChange"</#if>>
            <#if (table.hasUniPk)>
            <el-table-column type="selection" width="55"></el-table-column>
            </#if>
            <#list table.columns as column>
            <#include "/include/column/properties.ftl">
            <#if (column.validStatus || column.select || column.fkSelect)>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">
                    <span>{{get${propertyName}Text(scope.row.${fieldName})}}</span>
                </template>
            </el-table-column>
            <#elseif column.imgUrl>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">
                    <div class="ratio ratio-4by3 table-img-container">
                        <div class="content center">
                            <img :src="scope.row.${fieldName}" alt="${columnComment}" class="content" />
                        </div>
                    </div>
                </template>
            </el-table-column>
            <#elseif (isInteger || isDecimal || isString)>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName}}}</template>
            </el-table-column>
            <#elseif (isDate)>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName} | formatDate}}</template>
            </el-table-column>
            <#elseif (isTime)>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName} | formatTime}}</template>
            </el-table-column>
            <#elseif (isDateTime)>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName} | formatDateTime}}</template>
            </el-table-column>
            <#else>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName}}}</template>
            </el-table-column>
            </#if>
            </#list>
            <el-table-column fixed="right" label="操作" width="<#if table.validStatusColumn??>180<#else>140</#if>">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button type="primary" @click="edit(<#list pks as column><#if (column_index > 0)>, </#if>scope.row.${column.targetName?uncap_first}</#list>)" size="mini">编辑</el-button>
                        <el-button type="info" @click="get(<#list pks as column><#if (column_index > 0)>, </#if>scope.row.${column.targetName?uncap_first}</#list>)" size="mini">详情</el-button>
                        <#if table.validStatusColumn??>
                        <el-button type="warning" @click="disable(<#list pks as column><#if (column_index > 0)>, </#if>scope.row.${column.targetName?uncap_first}</#list>)" v-if="scope.row.${table.validStatusColumn.targetName?uncap_first}==${table.validStatusColumn.validStatusOption.valid}" size="mini">禁用</el-button>
                        <el-button type="success" @click="enable(<#list pks as column><#if (column_index > 0)>, </#if>scope.row.${column.targetName?uncap_first}</#list>)" v-else size="mini">启用</el-button>
                        </#if>
                        <el-button type="danger" @click="del(<#list pks as column><#if (column_index > 0)>, </#if>scope.row.${column.targetName?uncap_first}</#list>)" size="mini">删除</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                @size-change="changePageSize"
                @current-change="changePage"
                :current-page="pageInfo.pageNum"
                :page-sizes="[10, 20, 50, 100]"
                :page-size="pageInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageInfo.total">
        </el-pagination>

        <el-dialog title="${tableComment}详情" class="dialog-detail" :visible.sync="detailDialogVisible">
            <el-row :gutter="20">
                <#list table.columns as column>
                <#include "/include/column/properties.ftl">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <#if (column.validStatus || column.select || column.fkSelect)>
                    <span>{{get${propertyName}Text(detail.${fieldName})}}</span>
                    <#elseif column.imgUrl>
                    <img :src="detail.${fieldName}" alt="${columnComment}">
                    <#elseif column.content>
                    <pre>{{detail.${fieldName}}}</pre>
                    <#elseif (column.dataType?contains("date") || column.dataType?contains("time"))>
                    <span>{{detail.${fieldName} | formatDate}}</span>
                    <#else>
                    <span>{{detail.${fieldName}}}</span>
                    </#if>
                </el-col>
                </#list>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="closeDialog">关闭</el-button>
                <el-button type="primary" @click="edit(<#list pks as column><#if (column_index > 0)>, </#if>detail.${column.targetName?uncap_first}</#list>)">编辑</el-button>
                <el-button type="danger" @click="del(<#list pks as column><#if (column_index > 0)>, </#if>detail.${column.targetName?uncap_first}</#list>)">删除</el-button>
            </div>
        </el-dialog>
        <el-dialog :title="addOrEditTitle" :visible.sync="addOrEditDialogVisible">
            <el-form ref="addOrEditParams" :model="addOrEditParams" :label-position="'left'" label-width="120px">
                <#list table.columns as column>
                <#include "/include/column/properties.ftl">
                <#if column.notRequired>
                <#elseif (column.select)>
                <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="请选择">
                        <el-option v-for="item in ${fieldName}SelectList" :value="item.value" :label="item.text"></el-option>
                    </el-select>
                </el-form-item>
                <#elseif (column.fkSelect)>
                <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="请选择">
                        <el-option v-for="item in ${fieldName}SelectList" :value="item.${column.fkSelectColumn.valueName?uncap_first}" :label="item.${column.fkSelectColumn.textName?uncap_first}"></el-option>
                    </el-select>
                </el-form-item>
                <#elseif (column.validStatus)>
                <#-- <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="请选择">
                        <el-option v-for="item in ${fieldName}SelectList" :value="item.value" :label="item.text"></el-option>
                    </el-select>
                </el-form-item> -->
                <#elseif (isInteger)>
                <el-form-item label="${columnComment}">
                    <el-input type="number" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif (isDecimal)>
                <el-form-item label="${columnComment}">
                    <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif (isString)>
                <el-form-item label="${columnComment}">
                    <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif (isDate)>
                <el-form-item label="${columnComment}">
                    <el-date-picker type="date" v-model="addOrEditParams.${fieldName}" placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <#elseif (isTime)>
                <el-form-item label="${columnComment}">
                    <el-time-select v-model="addOrEditParams.${fieldName}" placeholder="选择时间"></el-time-select>
                </el-form-item>
                <#elseif (isDateTime)>
                <el-form-item label="${columnComment}">
                    <el-date-picker type="datetime" v-model="addOrEditParams.${fieldName}" placeholder="选择日期时间"></el-date-picker>
                </el-form-item>
                <#elseif (isContent)>
                <el-form-item label="${columnComment}">
                    <el-input type="textarea" v-model="addOrEditParams.${fieldName}" :autosize="{ minRows: 5, maxRows: 100}"></el-input>
                </el-form-item>
                <#else>
                </#if>
                </#list>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="save">保存</el-button>
                <el-button @click="closeDialog">取消</el-button>
            </div>
        </el-dialog>
    </div>

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/resources/js/config.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/${className?lower_case}/index.js"></script>
</body>
</html>
