<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xi.quick.codegeneratorkt.mapper.IndexMapper">

    <resultMap id="resultMap" type="org.xi.quick.codegeneratorkt.entity.Index">
        <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="VARCHAR"/>
        <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="VARCHAR"/>
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR"/>
        <result column="NON_UNIQUE" property="nonUnique" jdbcType="INTEGER"/>
        <result column="INDEX_SCHEMA" property="indexSchema" jdbcType="VARCHAR"/>
        <result column="INDEX_NAME" property="indexName" jdbcType="VARCHAR"/>
        <result column="SEQ_IN_INDEX" property="seqInIndex" jdbcType="INTEGER"/>
        <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR"/>
        <result column="COLLATION" property="collation" jdbcType="VARCHAR"/>
        <result column="CARDINALITY" property="cardinality" jdbcType="BIGINT"/>
        <result column="SUB_PART" property="subPart" jdbcType="INTEGER"/>
        <result column="PACKED" property="packed" jdbcType="VARCHAR"/>
        <result column="NULLABLE" property="nullable" jdbcType="VARCHAR"/>
        <result column="INDEX_TYPE" property="indexType" jdbcType="VARCHAR"/>
        <result column="COMMENT" property="comment" jdbcType="VARCHAR"/>
        <result column="INDEX_COMMENT" property="indexComment" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getStatistics" resultMap="resultMap" parameterType="java.lang.String">
        SELECT
        `TABLE_CATALOG`,
        `TABLE_SCHEMA`,
        `TABLE_NAME`,
        `NON_UNIQUE`,
        `INDEX_SCHEMA`,
        `INDEX_NAME`,
        `SEQ_IN_INDEX`,
        `COLUMN_NAME`,
        `COLLATION`,
        `CARDINALITY`,
        `SUB_PART`,
        `PACKED`,
        `NULLABLE`,
        `INDEX_TYPE`,
        `COMMENT`,
        `INDEX_COMMENT`
        FROM
        `information_schema`.`STATISTICS`
        <where>
            <if test="databaseName != null and databaseName != ''">
                `TABLE_SCHEMA`=#{databaseName}
            </if>
            <if test="tableName != null and tableName != ''">
                AND `TABLE_NAME`=#{tableName}
            </if>
        </where>
    </select>


</mapper>