<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassName?uncap_first>
<#assign classNameLower = table.tableClassName?lower_case>
<#assign tableShortComment = (table.tableComment?split("[（ ,，(]", "r"))[0]>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${tableShortComment}详情</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/resources/css/element-ui-override.css">
</head>
<body>
    <div id="app">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item @click="goback">${tableShortComment}列表</el-breadcrumb-item>
            <el-breadcrumb-item>${tableShortComment}详情</el-breadcrumb-item>
        </el-breadcrumb>
        <#list table.columns as column>
        <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
        <#assign fieldName = column.columnFieldName?uncap_first>
        <#if column.columnName == table.validStatusField.fieldName>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                <label>${columnComment}</label>
            </el-col>
            <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                <span v-if="detail.${fieldName}==${table.validStatusField.validValue}" style="color: #42b983;">有效</span><span v-if="detail.${fieldName}==${table.validStatusField.invalidValue}" style="color: #e96900;">无效</span>
            </el-col>
        </el-row>
        <#elseif column.imgUrl>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                <label>${columnComment}</label>
            </el-col>
            <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                <img :src="detail.${fieldName}" alt="${columnComment}">
            </el-col>
        </el-row>
        <#elseif column.columnFieldType == "Date">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                <label>${columnComment}</label>
            </el-col>
            <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                <span>{{detail.${fieldName} | formatDate}}</span>
            </el-col>
        </el-row>
        <#else>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                <label>${columnComment}</label>
            </el-col>
            <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                <span>{{detail.${fieldName}}}</span>
            </el-col>
        </el-row>
        </#if>
        </#list>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
            </el-col>
            <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                <el-button type="danger" @click="del">删除</el-button>
                <el-button type="info" @click="goback">返回</el-button>
            </el-col>
        </el-row>
    </div>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="/resources/js/config.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/${classNameLower}/detail.js"></script>
</body>
</html>
