<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassName?uncap_first>
<#assign classNameLower = table.tableClassName?lower_case>
<#assign tableShortComment = (table.tableComment?split("[（ ,，(]", "r"))[0]>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${tableShortComment}</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="/resources/css/element-ui-override.css">-->
</head>
<body>
    <div id="app">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item @click="cancelSave">${tableShortComment}列表</el-breadcrumb-item>
            <el-breadcrumb-item>{{addOrEditTitle}}${tableShortComment}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-form ref="addOrEditParams" :model="addOrEditParams" :label-position="'left'" label-width="80px">
            <#list table.columns as column>
            <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
            <#assign fieldName = column.columnFieldName?uncap_first>
            <#if column.notRequired>
            <#elseif column.autoIncrement>
            <el-input v-model="addOrEditParams.${fieldName}" type="hidden"></el-input>
            <#elseif column.columnName == table.validStatusField.fieldName>
            <el-form-item label="${columnComment}">
                <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                    <el-option value="${table.validStatusField.validValue}" label="有效"></el-option>
                    <el-option value="${table.validStatusField.invalidValue}" label="无效"></el-option>
                </el-select>
            </el-form-item>
            <#elseif column.fkSelect>
            <el-form-item label="${columnComment}">
                <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                    <el-option v-for="item in ${fieldName}SelectList" :value="item.${column.fkSelectField.keyField?uncap_first}" :label="item.${column.fkSelectField.valueField?uncap_first}"></el-option>
                </el-select>
            </el-form-item>
            <#elseif column.select>
            <el-form-item label="${columnComment}">
                <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                    <#list column.selectOptions as option>
                    <el-option value="${option.value}" label="${option.text}"></el-option>
                    </#list>
                </el-select>
            </el-form-item>
            <#elseif (column.columnFieldType == "Integer" || column.columnFieldType == "Long" || column.columnFieldType == "Short" || column.columnFieldType == "Byte")>
            <el-form-item label="${columnComment}">
                <el-input type="number" v-model="addOrEditParams.${fieldName}"></el-input>
            </el-form-item>
            <#elseif column.columnFieldType == "Date">
            <el-form-item label="${columnComment}">
                <el-date-picker v-model="addOrEditParams.${fieldName}" type="datetime" placeholder="选择日期时间">
                </el-date-picker>
            </el-form-item>
            <#elseif (column.columnFieldType == "BigDecimal" || column.columnFieldType == "Double" || column.columnFieldType == "Float")>
            <el-form-item label="${columnComment}">
                <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
            </el-form-item>
            <#elseif (column.content)>
            <el-form-item label="${columnComment}">
                <el-input type="textarea" v-model="addOrEditParams.${fieldName}"></el-input>
            </el-form-item>
            <#elseif (column.columnFieldType == "String")>
            <el-form-item label="${columnComment}">
                <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
            </el-form-item>
            <#else>
            <el-form-item label="${columnComment}">
                <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
            </el-form-item>
            </#if>
            </#list>
            <el-form-item>
                <el-button type="primary" @click="save">保存</el-button>
                <el-button @click="cancelSave">取消</el-button>
            </el-form-item>
        </el-form>
    </div>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="/resources/js/config.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/${classNameLower}/edit.js"></script>
</body>
</html>
