<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassName?uncap_first>
<#assign classNameLower = table.tableClassName?lower_case>
<#assign tableShortComment = (table.tableComment?split("[（ ,，(]", "r"))[0]>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${tableShortComment}管理</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/resources/css/element-ui-override.css">
</head>
<body>
    <div id="app">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item>${tableShortComment}管理</el-breadcrumb-item>
        </el-breadcrumb>
        <el-form ref="searchParams" :model="searchParams" :label-position="'left'" label-width="80px">
            <el-row :gutter="10">
                <#list table.columns as column>
                <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
                <#assign fieldName = column.targetColumnName?uncap_first>
                <#if column.ignoreSearch>
                <#elseif column.columnName == table.validStatusField.fieldName>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option value="${table.validStatusField.validValue}" label="有效"></el-option>
                            <el-option value="${table.validStatusField.invalidValue}" label="无效"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <#elseif column.fkSelect>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option value="" label="全部"></el-option>
                            <el-option v-for="item in ${fieldName}SelectList" :value="item.${column.fkSelectField.keyField?uncap_first}" :label="item.${column.fkSelectField.valueField?uncap_first}"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <#elseif column.select>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-select v-model="searchParams.${fieldName}" placeholder="全部">
                            <el-option value="" label="全部"></el-option>
                            <#list column.selectOptions as option>
                            <el-option value="${option.value}" label="${option.text}"></el-option>
                            </#list>
                        </el-select>
                    </el-form-item>
                </el-col>
                <#elseif column.primaryKey>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}" type="text"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (column.targetDataType == "Integer" || column.targetDataType == "Long" || column.targetDataType == "Short" || column.targetDataType == "Byte")>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}" type="text"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif column.targetDataType == "Date">
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-date-picker
                                v-model="searchParams.${fieldName}Range"
                                type="daterange"
                                :default-time="['00:00:00', '23:59:59']"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <#elseif (column.targetDataType == "BigDecimal" || column.targetDataType == "Double" || column.targetDataType == "Float")>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}Min"></el-input>
                        <el-input v-model="searchParams.${fieldName}Max"></el-input>
                    </el-form-item>
                </el-col>
                <#elseif (column.targetDataType == "String")>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}StartWith"></el-input>
                    </el-form-item>
                </el-col>
                <#else>
                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                    <el-form-item label="${columnComment}">
                        <el-input v-model="searchParams.${fieldName}"></el-input>
                    </el-form-item>
                </el-col>
                </#if>
                </#list>
                <el-col :span="24">
                    <el-form-item>
                        <el-button type="primary" id="submit" @click="search">搜索</el-button>
                        <el-button @click="resetSearch">重置</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>

        <#if table.validStatusColumn??>
        <el-tabs v-model="searchParams.${table.validStatusColumn.targetColumnNameFirstLower}">
            <el-tab-pane label="有效" name="${table.validStatusField.validValue}"></el-tab-pane>
            <el-tab-pane label="无效" name="${table.validStatusField.invalidValue}"></el-tab-pane>
        </el-tabs>
        </#if>
        <el-row>
            <el-button type="primary" @click="add">添加</el-button>
            <#if table.validStatusColumn??>
            <el-button type="success" @click="enableSelected" v-if="multipleSelection.length > 0">启用</el-button>
            <el-button type="warning" @click="disableSelected" v-if="multipleSelection.length > 0">禁用</el-button>
            </#if>
            <#if table.uniquePrimaryKey??>
            <el-button type="danger" @click="delSelected" v-if="multipleSelection.length > 0">删除</el-button>
            </#if>
        </el-row>
        <el-table ref="multipleTable" :data="pageInfo.list" tooltip-effect="dark"<#if (table.hasPrimaryKey && table.uniquePrimaryKey??)> @selection-change="handleSelectionChange"</#if>>
            <#if (table.hasPrimaryKey && table.uniquePrimaryKey??)>
            <el-table-column type="selection" width="55"></el-table-column>
            </#if>
            <#list table.columns as column>
            <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
            <#assign fieldName = column.targetColumnName?uncap_first>
            <#if column.content>
            <#elseif column.columnName == table.validStatusField.fieldName>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">
                    <span v-if="scope.row.${fieldName}==${table.validStatusField.validValue}" class="text-success">有效</span>
                    <span v-else class="text-danger">无效</span>
                </template>
            </el-table-column>
            <#elseif column.select>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">
                    <#list column.selectOptions as option>
                    <#if (option_index > 0)>
                    <span v-else-if="scope.row.${fieldName}==${option.value}">${option.text}</span>
                    <#else>
                    <span v-if="scope.row.${fieldName}==${option.value}">${option.text}</span>
                    </#if>
                    </#list>
                    <span v-else>未知</span>
                </template>
            </el-table-column>
            <#elseif column.imgUrl>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">
                    <div class="ratio ratio-4by3 table-img-container">
                        <div class="content center">
                            <img :src="scope.row.${fieldName}" alt="${columnComment}" class="content" />
                        </div>
                    </div>
                </template>
            </el-table-column>
            <#elseif column.targetDataType == "Date">
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName} | formatDate}}</template>
            </el-table-column>
            <#else>
            <el-table-column label="${columnComment}">
                <template slot-scope="scope">{{scope.row.${fieldName}}}</template>
            </el-table-column>
            </#if>
            </#list>
            <el-table-column fixed="right" label="操作" width="<#if table.validStatusColumn??>180<#else>140</#if>">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button type="primary" @click="edit(<#list primaryKey as column><#if (column_index > 0)>, </#if>scope.row.${column.targetColumnNameFirstLower}</#list>)" size="mini">编辑</el-button>
                        <el-button type="info" @click="get(<#list primaryKey as column><#if (column_index > 0)>, </#if>scope.row.${column.targetColumnNameFirstLower}</#list>)" size="mini">详情</el-button>
                        <#if table.validStatusColumn??>
                        <el-button type="warning" @click="disable(<#list primaryKey as column><#if (column_index > 0)>, </#if>scope.row.${column.targetColumnNameFirstLower}</#list>)" v-if="scope.row.${table.validStatusColumn.targetColumnNameFirstLower}==${table.validStatusField.validValue}" size="mini">禁用</el-button>
                        <el-button type="success" @click="enable(<#list primaryKey as column><#if (column_index > 0)>, </#if>scope.row.${column.targetColumnNameFirstLower}</#list>)" v-else size="mini">启用</el-button>
                        </#if>
                        <el-button type="danger" @click="del(<#list primaryKey as column><#if (column_index > 0)>, </#if>scope.row.${column.targetColumnNameFirstLower}</#list>)" size="mini">删除</el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                @size-change="changePageSize"
                @current-change="changePage"
                :current-page="pageInfo.pageNum"
                :page-sizes="[10, 20, 50, 100]"
                :page-size="pageInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageInfo.total"
                v-show="pageInfo.pages > 1">
        </el-pagination>

        <el-dialog title="${tableShortComment}详情" :visible.sync="detailDialogVisible">
            <#list table.columns as column>
            <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
            <#assign fieldName = column.targetColumnName?uncap_first>
            <#if column.columnName == table.validStatusField.fieldName>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <span v-if="detail.${fieldName}==${table.validStatusField.validValue}" style="color: #42b983;">有效</span><span v-if="detail.${fieldName}==${table.validStatusField.invalidValue}" style="color: #e96900;">无效</span>
                </el-col>
            </el-row>
            <#elseif column.imgUrl>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <img :src="detail.${fieldName}" alt="${columnComment}">
                </el-col>
            </el-row>
            <#elseif column.targetDataType == "Date">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <span>{{detail.${fieldName} | formatDate}}</span>
                </el-col>
            </el-row>
            <#else>
            <el-row :gutter="20">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <span>{{detail.${fieldName}}}</span>
                </el-col>
            </el-row>
            </#if>
            </#list>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="closeDialog">关闭</el-button>
                <el-button type="primary" @click="edit(<#list primaryKey as column><#if (column_index > 0)>, </#if>detail.${column.targetColumnNameFirstLower}</#list>)">编辑</el-button>
                <el-button type="danger" @click="del(<#list primaryKey as column><#if (column_index > 0)>, </#if>detail.${column.targetColumnNameFirstLower}</#list>)">删除</el-button>
            </div>
        </el-dialog>
        <el-dialog :title="addOrEditTitle" :visible.sync="addOrEditDialogVisible">
            <el-form ref="addOrEditParams" :model="addOrEditParams" :label-position="'left'" label-width="80px">
                <#list table.columns as column>
                <#assign columnComment = (column.columnComment?split("[（ ,，(]", "r"))[0]>
                <#assign fieldName = column.targetColumnName?uncap_first>
                <#if column.notRequired>
                <#elseif column.autoIncrement>
                <el-input v-model="addOrEditParams.${fieldName}" type="hidden"></el-input>
                <#elseif column.columnName == table.validStatusField.fieldName>
                <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                        <el-option value="${table.validStatusField.validValue}" label="有效"></el-option>
                        <el-option value="${table.validStatusField.invalidValue}" label="无效"></el-option>
                    </el-select>
                </el-form-item>
                <#elseif column.fkSelect>
                <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                        <el-option v-for="item in ${fieldName}SelectList" :value="item.${column.fkSelectField.keyField?uncap_first}" :label="item.${column.fkSelectField.valueField?uncap_first}"></el-option>
                    </el-select>
                </el-form-item>
                <#elseif column.select>
                <el-form-item label="${columnComment}">
                    <el-select v-model="addOrEditParams.${fieldName}" placeholder="全部">
                        <#list column.selectOptions as option>
                        <el-option value="${option.value}" label="${option.text}"></el-option>
                        </#list>
                    </el-select>
                </el-form-item>
                <#elseif (column.targetDataType == "Integer" || column.targetDataType == "Long" || column.targetDataType == "Short" || column.targetDataType == "Byte")>
                <el-form-item label="${columnComment}">
                    <el-input type="number" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif column.targetDataType == "Date">
                <el-form-item label="${columnComment}">
                    <el-date-picker v-model="addOrEditParams.${fieldName}" type="datetime" placeholder="选择日期时间">
                    </el-date-picker>
                </el-form-item>
                <#elseif (column.targetDataType == "BigDecimal" || column.targetDataType == "Double" || column.targetDataType == "Float")>
                <el-form-item label="${columnComment}">
                    <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif (column.content)>
                <el-form-item label="${columnComment}">
                    <el-input type="textarea" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#elseif (column.targetDataType == "String")>
                <el-form-item label="${columnComment}">
                    <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                <#else>
                <el-form-item label="${columnComment}">
                    <el-input type="text" v-model="addOrEditParams.${fieldName}"></el-input>
                </el-form-item>
                </#if>
                </#list>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="save">保存</el-button>
                <el-button @click="closeDialog">取消</el-button>
            </div>
        </el-dialog>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="/resources/js/config.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="/resources/js/${classNameLower}/index.js"></script>
</body>
</html>
