<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<plugins>-->
        <!--&lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!--&lt;!&ndash; 使用下面的方式配置参数，后面会有所有的参数介绍 &ndash;&gt;-->
            <!--<property name="dialect" value="mysql"/>-->
            <!--<property name="reasonable" value="true"/>-->
            <!--<property name="params" value="count=countSql"/>-->
            <!--<property name="autoRuntimeDialect" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>