<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}" />
</head>

<body>
    <div class="main-content">
        <form>
            <#list table.columns as column>
            <#if column.columnName == table.validStatusField.fieldName>
            <label for="${column.columnFieldNameFirstLower}">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <select name="${column.columnFieldNameFirstLower}" id="${column.columnFieldNameFirstLower}">
                <option>全部</option>
                <option value="${table.validStatusField.validValue}">有效</option>
                <option value="${table.validStatusField.invalidValue}">无效</option>
            </select>
            <#elseif (column.columnFieldType == "Integer" || column.columnFieldType == "Long" || column.columnFieldType == "Short" || column.columnFieldType == "Byte")>
            <label for="${column.columnFieldNameFirstLower}">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}" id="${column.columnFieldNameFirstLower}" type="number" />
            <#elseif column.columnFieldType == "Date">
            <label for="${column.columnFieldNameFirstLower}Min">开始${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}Min" id="${column.columnFieldNameFirstLower}Min" type="datetime" />
            <label for="${column.columnFieldNameFirstLower}Max">结束${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}Max" id="${column.columnFieldNameFirstLower}Max" type="datetime" />
            <#elseif (column.columnFieldType == "BigDecimal" || column.columnFieldType == "Double" || column.columnFieldType == "Float")>
            <label for="${column.columnFieldNameFirstLower}Min">最小${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}Min" id="${column.columnFieldNameFirstLower}Min" type="number" />
            <label for="${column.columnFieldNameFirstLower}Max">最大${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}Max" id="${column.columnFieldNameFirstLower}Max" type="number" />
            <#elseif (column.columnFieldType == "String")>
            <label for="${column.columnFieldNameFirstLower}StartWith">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}StartWith" id="${column.columnFieldNameFirstLower}StartWith" type="text" />
            <#else>
            <label for="${column.columnFieldNameFirstLower}">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
            <input name="${column.columnFieldNameFirstLower}" id="${column.columnFieldNameFirstLower}" type="text" />
            </#if>
            <br/>
            </#list>
            <input type="submit" id="submit" value="搜索" />
            <input type="reset" value="重置" />
        </form>
        <table>
            <tbody>
                <tr>
                    <#list table.columns as column>
                    <th>${(column.columnComment?split("[（ ,，(]", "r"))[0]}</th>
                    </#list>
                </tr>
                <tr th:each="item : <@mapperEl 'pageInfo.list'/>">
                    <#list table.columns as column>
                    <th th:text="<@mapperEl 'item.' + column.columnFieldNameFirstLower/>">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</th>
                    </#list>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>
