<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${adminApiModuleName}" id="${adminApiModuleName}"></dubbo:application>
    <dubbo:protocol name="dubbo" port="-1"/>
    <dubbo:registry id="zookeeper" protocol="zookeeper" address="${r'${dubbo.registry.address}'}" timeout="10000"/>
    <#list tableModels as model>

    <!-- ${model.tableComment} -->
    <dubbo:reference interface="${basePackage}.api.${model.tableClassName}Api"
                   id="${model.tableClassName?uncap_first}Api" group="${r'${dubbo.consumer.group}'}" version="${r'${dubbo.consumer.version}'}" />
    </#list>

</beans>
