<#include "/include/table/properties.ftl">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${tableComment}管理</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui-override.css">
</head>
<body>
    <div id="app">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item>${tableComment}管理</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="dialog-detail">
            <#list table.columns as column>
            <#include "/include/column/properties.ftl">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="6" :md="5" :lg="4" :xl="3">
                    <label>${columnComment}</label>
                </el-col>
                <el-col :xs="24" :sm="18" :md="19" :lg="20" :xl="21">
                    <#if (column.validStatus || column.select)>
                    <span>{{get${propertyName}Text(detail.${fieldName})}}</span>
                    <#elseif (column.fkSelect)>
                    <span>{{detail.${fieldNameExceptKey}Text}}</span>
                    <#elseif column.imgUrl>
                    <img :src="detail.${fieldName}" alt="${columnComment}" v-if="detail.${fieldName} != ''">
                    <span v-else>-</span>
                    <#elseif column.content>
                    <pre>{{detail.${fieldName}}}</pre>
                    <#elseif (isDate)>
                    <span>{{detail.${fieldName} | formatDate}}</span>
                    <#elseif (isTime)>
                    <span>{{detail.${fieldName} | formatTime}}</span>
                    <#elseif (isDateTime)>
                    <span>{{detail.${fieldName} | formatDateTime}}</span>
                    <#else>
                    <span>{{detail.${fieldName}}}</span>
                    </#if>
                </el-col>
            </el-row>
            </#list>
            <div slot="footer" class="dialog-footer">
                <el-button @click="back" icon="el-icon-close">返回</el-button>
                <el-button @click="edit" type="primary" icon="el-icon-edit">编辑</el-button>
                <#if table.validStatusColumn??>
                <el-button @click="disable" v-if="detail.${table.validStatusColumn.targetName?uncap_first}==${table.validStatusColumn.validStatusOption.valid}" type="warning" icon="el-icon-close">禁用</el-button>
                <el-button @click="enable" v-else type="success" icon="el-icon-check">启用</el-button>
                </#if>
                <el-button @click="del" type="danger" icon="el-icon-delete">删除</el-button>
            </div>
        </div>
    </div>

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/${className?lower_case}/detail.js"></script>
</body>
</html>
