html {
    /*font-size: 62.5%;*/
}

body {
    padding: 0;
    margin: 0;
    /*background-image: url(../img/bg.jpg);*/
    /* background-color: #f1f2f7; */    
    /*font-size: 1.6rem;*/
}

* {
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    position: relative;
}

div {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

img {
    border: none;
}

.form-control,
.btn {
    outline: none !important;
}

.form-control:hover,
.btn:hover {
    outline: none !important;
    box-shadow: none;
}

.form-control:focus,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.form-control:active,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.center-img-container {
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #dcbaff;
}

.center-img-container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
