<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassName?uncap_first>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"#{"}${value}}</#macro>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="${basePackage}.mapper.${className}Mapper">

    <resultMap id="BaseModelMap" type="${basePackage}.entity.${className}Entity">
        <#list table.columns as column>
        <result property="${column.targetColumnNameFirstLower}" column="${column.columnName}"/>
        </#list>
    </resultMap>

    <parameterMap id="BaseParameterMap" type="${basePackage}.entity.${className}Entity"></parameterMap>
    <parameterMap id="BaseConditionMap" type="${basePackage}.condition.${className}Condition"></parameterMap>

    <sql id="selectCondition">
        <trim prefixOverrides="AND|OR">
        <#list table.columns as column>
            <#if column.ignoreSearch>
            <#elseif column.columnName == table.validStatusField.fieldName>
            <if test="condition.${column.targetColumnNameFirstLower} != null">
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` = <@mapperEl 'condition.' + column.targetColumnNameFirstLower/>
            </if>
            <#elseif (column.targetDataType == "Integer" || column.targetDataType == "Long" || column.targetDataType == "Short" || column.targetDataType == "Byte")>
            <if test="condition.${column.targetColumnNameFirstLower} != null">
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` = <@mapperEl 'condition.' + column.targetColumnNameFirstLower/>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}List != null and condition.${column.targetColumnNameFirstLower}List.size() > 0">
                AND `${table.tableName}`.`${column.columnName}` in
                <foreach collection="condition.${column.targetColumnNameFirstLower}List" item="it" open="(" close=")" separator=",">
                    ${r"#{it}"}
                </foreach>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Min != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` >= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Min'/>
                ]]>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Max != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` <= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Max'/>
                ]]>
            </if>
            <#elseif (column.targetDataType == "Date")>
            <if test="condition.${column.targetColumnNameFirstLower} != null">
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` = <@mapperEl 'condition.' + column.targetColumnNameFirstLower/>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Min != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` >= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Min'/>
                ]]>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Max != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` <= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Max'/>
                ]]>
            </if>
            <#elseif (column.targetDataType == "BigDecimal" || column.targetDataType == "Double" || column.targetDataType == "Float")>
            <if test="condition.${column.targetColumnNameFirstLower}Min != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` >= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Min'/>
                ]]>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Max != null">
                <![CDATA[
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` <= <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Max'/>
                ]]>
            </if>
            <#elseif (column.targetDataType == "String")>
            <if test="condition.${column.targetColumnNameFirstLower} != null and condition.${column.targetColumnNameFirstLower} != ''">
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` = <@mapperEl 'condition.' + column.targetColumnNameFirstLower/>
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}StartWith != null and condition.${column.targetColumnNameFirstLower}StartWith != ''">
                AND `${table.tableName}`.`${column.columnName}` LIKE concat(<@mapperEl 'condition.' + column.targetColumnNameFirstLower +'StartWith'/>, '%')
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}Like != null and condition.${column.targetColumnNameFirstLower}Like != ''">
                AND `${table.tableName}`.`${column.columnName}` LIKE concat('%', <@mapperEl 'condition.' + column.targetColumnNameFirstLower +'Like'/>, '%')
            </if>
            <if test="condition.${column.targetColumnNameFirstLower}List != null and condition.${column.targetColumnNameFirstLower}List.size() > 0">
                AND `${table.tableName}`.`${column.columnName}` in
                <foreach collection="condition.${column.targetColumnNameFirstLower}List" item="it" open="(" close=")" separator=",">
                    ${r"#{it}"}
                </foreach>
            </if>
            <#else>
            <if test="condition.${column.targetColumnNameFirstLower} != null">
                <#if (column_index > 0)>AND </#if>`${table.tableName}`.`${column.columnName}` = <@mapperEl 'condition.' + column.targetColumnNameFirstLower/>
            </if>
            </#if>
        </#list>
        </trim>
    </sql>

    <sql id="where">
        <if test="condition != null">
            <where>
                <include refid="selectCondition"/>
            </where>
        </if>
    </sql>
    <sql id="listWhere">
        <if test="conditionList != null and conditionList.size() > 0">
            <where>
                <foreach collection="conditionList" item="condition" open="(" close=")" separator=" OR ">
                    <include refid="selectCondition"/>
                </foreach>
            </where>
        </if>
    </sql>
    <sql id="selectColumnList">
        <#list table.columns as column>
        `${table.tableName}`.`${column.columnName}`<#if column_has_next>,</#if>
        </#list>
    </sql>
    <sql id="updateColumnSet">
        <set>
            <#list table.columns as column>
            <#if (column.primaryKey && column.autoIncrement)>
            <#else>
            <if test="model.${column.targetColumnNameFirstLower} != null">
                `${table.tableName}`.`${column.columnName}` = <@mapperEl 'model.' + column.targetColumnNameFirstLower/><#if column_has_next>,</#if>
            </if>
            </#if>
            </#list>
        </set>
    </sql>

    <insert id="insert" parameterMap="BaseParameterMap"<#if table.hasPrimaryKey><#if primaryKey[0].autoIncrement> useGeneratedKeys="true" keyProperty="model.${primaryKey[0].targetColumnNameFirstLower}"</#if></#if>>
        insert into `${table.tableName}`
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <#if !column.autoIncrement>
            <if test="model.${column.targetColumnNameFirstLower} != null">`${column.columnName}`,</if>
            </#if>
        </#list>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <#if !column.autoIncrement>
            <if test="model.${column.targetColumnNameFirstLower} != null"><@mapperEl 'model.' + column.targetColumnNameFirstLower/>,</if>
            </#if>
        </#list>
        </trim>
    </insert>

    <insert id="insertList" parameterMap="BaseParameterMap">
        <foreach collection="list" item="item" separator=";">
            insert into `${table.tableName}`
            <trim prefix="(" suffix=")" suffixOverrides=",">
            <#list table.columns as column>
                <#if !column.autoIncrement>
                <if test="item.${column.targetColumnNameFirstLower} != null">`${column.columnName}`,</if>
                </#if>
            </#list>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
            <#list table.columns as column>
                <#if !column.autoIncrement>
                <if test="item.${column.targetColumnNameFirstLower} != null"><@mapperEl 'item.' + column.targetColumnNameFirstLower/>,</if>
                </#if>
            </#list>
            </trim>
        </foreach>
    </insert>

    <delete id="deleteByCondition" parameterMap="BaseConditionMap">
        DELETE FROM `${table.tableName}`
        <include refid="where"/>
    </delete>

    <delete id="deleteByConditionList" parameterMap="BaseConditionMap">
        DELETE FROM `${table.tableName}`
        <include refid="listWhere"/>
    </delete>

    <update id="updateByCondition">
        UPDATE `${table.tableName}`
        <include refid="updateColumnSet"/>
        <include refid="where"/>
    </update>

    <update id="updateByConditionList">
        UPDATE `${table.tableName}`
        <include refid="updateColumnSet"/>
        <include refid="listWhere"/>
    </update>

    <select id="getByCondition" resultMap="BaseModelMap" parameterMap="BaseConditionMap">
        SELECT
        <include refid="selectColumnList"/>
        FROM
        `${table.tableName}`
        <include refid="where"/>
    </select>

    <select id="findByCondition" resultMap="BaseModelMap">
        SELECT
        <include refid="selectColumnList"/>
        FROM
        `${table.tableName}`
        <include refid="where"/>
        <if test="order != null and order.orderBy != null and order.orderBy != ''">
            ORDER BY ${r"${order.orderBy}"}
        </if>
    </select>

    <select id="findByConditionList" resultMap="BaseModelMap">
        SELECT
        <include refid="selectColumnList"/>
        FROM
        `${table.tableName}`
        <include refid="listWhere"/>
        <if test="order != null and order.orderBy != null and order.orderBy != ''">
            ORDER BY ${r"${order.orderBy}"}
        </if>
    </select>

    <select id="countByCondition" parameterMap="BaseConditionMap" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `${table.tableName}`
        <include refid="where"/>
    </select>

    <select id="countByConditionList" parameterMap="BaseConditionMap" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `${table.tableName}`
        <include refid="listWhere"/>
    </select>
</mapper>
