<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${providerModuleDir}" id="${providerModuleDir}" owner="${providerModuleDir}"/>
    <dubbo:registry address="${r'${zk.address.list}'}" protocol="zookeeper" id="zookeeper"/>
    <dubbo:protocol name="dubbo" port="${r'${dubbo.port}'}" threadpool="fixed" threads="1024"/>
    <!--<dubbo:provider filter="dubboFilter"/>-->

    <#list tableModels as model>

    <!-- ${model.tableComment} -->
    <dubbo:service interface="${basePackage}.api.service.${model.tableClassName}Api"
                   ref="${model.tableClassNameFirstLower}Api" group="${dubboServiceGroup}" version="${dubboServiceVersion}"
                   timeout="6000" registry="zookeeper"/>
    </#list>

</beans>
