<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${providerModuleName}" id="${providerModuleName}" owner="${providerModuleName}"/>
    <dubbo:registry address="${r'${dubbo.registry.address}'}" protocol="zookeeper" id="zookeeper"/>
    <dubbo:protocol name="dubbo" port="-1" threadpool="fixed" threads="1024"/>
    <dubbo:provider filter="dubboFilter"/>
    <#list tableModels as model>

    <!-- ${model.tableComment} -->
    <dubbo:service interface="${basePackage}.api.${model.tableClassName}Api"
                   ref="${model.tableClassName?uncap_first}Api" group="${r'${dubbo.provider.group}'}" version="${r'${dubbo.provider.version}'}"
                   timeout="6000" registry="zookeeper"/>
    </#list>

</beans>
