<#assign className = table.tableClassName>
<#assign classNameFirstLower = table.tableClassNameFirstLower>
<#assign classNameLower = table.tableClassName?lower_case>
<#assign primaryKey = table.primaryKey>
<#assign primaryKeyParameters = table.primaryKeyParameters>
<#assign primaryKeyParameterValues = table.primaryKeyParameterValues>
<#macro mapperEl value>${r"${"}${value}}</#macro>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/resources/css/common.css" />
</head>

<body>
    <div class="container" id="app">
        <div class="">
            <form>
                <#list table.columns as column>
                <#if column.notRequired>
                <#elseif column.autoIncrement>
                <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="hidden" />
                <#elseif column.endWithId>
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <select v-model="addOrEditParams.${column.columnFieldNameFirstLower}" class="form-control">
                        <option value="0">全部</option>
                        <option v-for="item in ${column.columnFieldNameFirstLower?replace('Id', '')}List" v-bind:value="item.id">{{ item.${column.columnFieldName?replace('Id', '')}Name }}</option>
                    </select>
                </div>
                <#elseif column.columnName == table.validStatusField.fieldName>
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <select v-model="addOrEditParams.${column.columnFieldNameFirstLower}" class="form-control">
                        <option value="${table.validStatusField.validValue}">有效</option>
                        <option value="${table.validStatusField.invalidValue}">无效</option>
                    </select>
                </div>
                <#elseif (column.columnFieldType == "Integer" || column.columnFieldType == "Long" || column.columnFieldType == "Short" || column.columnFieldType == "Byte")>
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="number" class="form-control" />
                </div>
                <#elseif column.columnFieldType == "Date">
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="datetime" class="form-control" />
                </div>
                <#elseif (column.columnFieldType == "BigDecimal" || column.columnFieldType == "Double" || column.columnFieldType == "Float")>
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="text" class="form-control" />
                </div>
                <#elseif (column.columnFieldType == "String")>
                <div class="form-group">
                    <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                    <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="text" class="form-control" />
                </div>
                <#else>
                <div class="form-group">
                <label class="control-label">${(column.columnComment?split("[（ ,，(]", "r"))[0]}</label>
                <input v-model="addOrEditParams.${column.columnFieldNameFirstLower}" type="text" class="form-control" />
                </#if>
                </#list>
                <input type="button" value="保存" @click="save" class="btn btn-primary" />
                <input type="button" value="取消" @click="cancelSave" class="btn" />
            </form>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.js"></script>
    <script src="/resources/bootstrap/js/jquery.bootstrap-growl.min.js"></script>
    <script src="/resources/bootstrap/js/bootbox.min.js"></script>
    <script src="/resources/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                <#list table.columns as column>
                <#if column.endWithId>
                ${column.columnFieldNameFirstLower?replace('Id', '')}List: [],
                </#if>
                </#list>
                <#if !table.hasAutoIncrementUniquePrimaryKey>
                <#list primaryKey as column>
                old${column.columnFieldName}: '',
                </#list>
                </#if>
                addOrEditParams: {
                    <#list table.columns as column>
                    <#if column.notRequired>
                    <#elseif column.endWithId>
                    ${column.columnFieldNameFirstLower}: 0<#if column_has_next>,</#if>
                    <#elseif column.columnName == table.validStatusField.fieldName>
                    ${column.columnFieldNameFirstLower}: ${table.validStatusField.validValue}<#if column_has_next>,</#if>
                    <#elseif column.columnFieldType == "Date">
                    //${column.columnFieldNameFirstLower}: ''<#if column_has_next>,</#if>
                    <#else>
                    ${column.columnFieldNameFirstLower}: ''<#if column_has_next>,</#if>
                    </#if>
                    </#list>
                }
            },
            mounted: function () {
                <#list table.columns as column>
                <#if column.endWithId>
                this.init${column.columnFieldName?replace('Id', '')};
                </#if>
                </#list>
                <#list primaryKey as column>
                var ${column.columnFieldNameFirstLower} = commonFun.getParam('${column.columnFieldNameFirstLower}');
                </#list>
                <#if !table.hasAutoIncrementUniquePrimaryKey>
                <#list primaryKey as column>this.old${column.columnFieldName} = ${column.columnFieldNameFirstLower};</#list>
                </#if>
                if (<#list primaryKey as column><#if (column_index > 0)> && </#if>${column.columnFieldNameFirstLower} != null && ${column.columnFieldNameFirstLower} != ''</#list>) {
                    this.getEditDetail();
                }
            },
            methods: {
                <#list table.columns as column>
                <#if column.endWithId>
                init${column.columnFieldName?replace('Id', '')}: function () {

                },
                </#if>
                </#list>
                save: function () {
                    var that = this;
                    $.ajax({
                        type: 'post',
                        url: '/${classNameLower}/save'<#if !table.hasAutoIncrementUniquePrimaryKey> + "?"<#list primaryKey as column><#if (column_index > 0)> + "&"</#if> + "old${column.columnFieldName}=" + that.old${column.columnFieldName}</#list></#if>,
                        data: this.addOrEditParams,
                        dataType: 'json',
                        success: function (response) {
                            if (response.success == true) {
                                commonNotify.success("操作成功！", that.cancelSave);
                            } else {
                                commonNotify.danger("操作失败！");
                            }
                        }
                    });
                },
                getEditDetail: function () {
                    var that = this;
                    $.ajax({
                        type: 'get',
                        url: '/${classNameLower}/getdetail' + window.location.search,
                        dataType: 'json',
                        success: function (response) {
                            if (response.success == true) {
                                <#list table.columns as column>
                                <#if column.notRequired>
                                <#else>
                                that.addOrEditParams.${column.columnFieldNameFirstLower} = response.result.${column.columnFieldNameFirstLower};
                                </#if>
                                </#list>
                            } else {
                                commonNotify.danger("获取详情失败！");
                            }
                        }
                    });
                },
                cancelSave: function() {
                    window.location.href = 'list.html';
                }
            }
        });
    </script>
</body>

</html>
